// Audioplayer 


p { font-size: 20px;}


#thePlayer {
			

			border:2px solid;
			border-radius:5px;
			-moz-border-radius:5px; /* Old Firefox */

			width: 70%;

			}

#thePlayer button {

 			display: inline;
 			border:none;
 			
 			width: 40px;
 			height:40px;
 			 background-color:transparent;
			

}


.play {background-image:url('play.png');
		background-size: 100% 100%;

	}

.pause {

	background-image:url('pause.png');
		background-size: 100% 100%;
}
#nextSong {background-image:url('forward.png');
		background-size: 100% 100%;
	}
#prevSong {background-image:url('backward.png');
		background-size: 100% 100%;
	}

#progress {
	color: #0063a6;
	padding-top:20px;
  
  
	  width: 150px;
	  height: 20px;
	  border: 1px solid #0063a6;
	  background: #fff;
}

progress::-webkit-progress-bar { background: #fff; }
