/*Audioplayer */


p { font-size: 20px;}


#thePlayer {
			position: relative;
			margin: 1em auto;
			height: 15em;
			width: 20em;
			text-align:center;
			font: bold 0.9em/0.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

			background-image: 	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),					
						-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),					
						-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
						
						-webkit-linear-gradient(-90deg, hsl(0,0%,78%)  0%, 
														hsl(0,0%,90%) 47%, 
														hsl(0,0%,78%) 53%,
														hsl(0,0%,70%)100%);	

			-webkit-box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, 	/* border */
						inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, 	/* soft SD */
						inset hsla(0,0%,0%, .25) 0 -1px 0px 7px,	/* bottom SD */
						inset hsla(0,0%,100%,.7) 0  2px 1px 7px, 	/* top HL */
						
							  hsla(0,0%, 0%,.15) 0 -5px 6px 4px, 	/* outer SD */
							  hsla(0,0%,100%,.5) 0  5px 6px 4px;	/* outer HL */	
	
	-webkit-transition: color .2s;
						}


#thePlayer button {

 			display: inline;
 			border:none;
 			
 			width: 4em;
 			height:4em;
 			background-color:transparent;
 			margin-top: 1em; 					 
}


.play {background-image:url('play.png');
		background-size: 100% 100%;

	}

.pause {
	background-image:url('pause.png');
		background-size: 100% 100%;
}

#nextSong {background-image:url('forward.png');
		background-size: 100% 100%;
	}
#prevSong {background-image:url('backward.png');
		background-size: 100% 100%;
	}

#progress {
	color: #0063a6;
	/*
	position: relative;
	top: 10px;*/
  
  	  margin-top: 1em;
	  width: 150px;
	  height: 20px;
	  border: 1px solid #0063a6;
	  background: #fff;

}

progress::-webkit-progress-bar { background: #fff; }


