/*Audioplayer */

body { background-color: #000;}




#thePlayer {
			float:center;
			margin-left: 25em;
			height: 20em;
			width: 20em;
			text-align:center;
			font: bold 0.9em/0.9em "Armata";

			background-image: 	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),					
						-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),					
						-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
						
						-webkit-linear-gradient(-90deg, hsl(0,0%,78%)  0%, 
														hsl(0,0%,90%) 47%, 
														hsl(0,0%,78%) 53%,
														hsl(0,0%,70%)100%);	

			border-radius:0.5em;
			-moz-border-radius:0.5em; /* Old Firefox */
			-moz-box-shadow:    inset 0 0 10px #000000;
   			-webkit-box-shadow: inset 0 0 10px #000000;
   			box-shadow:         inset 0 0 10px #000000;
			-webkit-transition: color .2s;
						}


#thePlayer button {

 			display: inline;
 			border:none; 			
 			width: 4em;
 			height:4em;
 			background-color:transparent;
 			margin-top: 1em; 					 
}


#playlist h2{
			color: #333;
			text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}

#playlist ul {
				margin-left: -2em;
}
#playlist ul li {
				list-style-type:none;		
				
				padding-top: 0.4em;
				text-align:center;
				font: bold 0.9em/0.9em "Armata";					
				cursor: pointer;
}


#playlist ul li.playing {
	/* TODO: add icon to show that its playing */
	text-decoration: underline;
}

#playlist ul li:hover {
	color: #f00;
	color: #2242f7;
}
	

/*CHanes in play button */
.play {background-image:url('play.png');
		background-size: 100% 100%;

	}

.pause {
	background-image:url('pause.png');
		background-size: 100% 100%;
}

/*Repeat switch backgrounds*/

.repeatNone {background-image:url('repeat_none.png');
		background-size: 100% 100%;

	}

.repeatOne {
	background-image:url('repeat_one.png');
		background-size: 100% 100%;
}

.repeatAll {
	background-image:url('repeat_all.png');
		background-size: 100% 100%;
}


#nextSong {background-image:url('forward.png');
		background-size: 100% 100%;
	}
#prevSong {background-image:url('backward.png');
		background-size: 100% 100%;
	}

.shuffle {
		background-image:url('shuffle.png');
		background-size: 100% 100%;	
}

.shuffleOn {

			background-image:url('shuffleON.png');
			background-size: 100% 100%;	
}


#songTime {
		
		padding-top: 0.3em;
		font: bold 1em/1em "Armata";
		color: #333;
		text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}
#repeat0 {
		padding-top: 2em;
}

#progress {
	color: #0063a6;
	/*

	position: relative;
	top: 10px;*/
  
  	  float:left;
  	  margin-left: 2em;
  	  margin-top: 1em;
	  width: 150px;
	  height: 20px;
	  border: 1px solid black;
	  background-color: #000;

	  border-radius:0.2em;
			-moz-border-radius:0.2em; /* Old Firefox */

}

progress::-webkit-progress-bar { background: #fff; }


